body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.no-transition,
body.no-transition *,
body.no-transition *:before,
body.no-transition *:after {
    transition: none !important;
}

/* Light Theme */
body.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #333;
}

/* Dark Theme */
body.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --border-color: #ffffff;
}

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* Đặt kích thước phông chữ trên cả html và body để đảm bảo tính nhất quán,
       ảnh hưởng đến cả đơn vị rem và em. */
    font-size: 70%;
}

.themed-text,
.themed-text h1,
.themed-text h3,
.themed-text li,
.themed-text a {
    color: var(--text-color) !important;
}

.border {
    border-color: var(--border-color) !important;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRotate {
    from {
        opacity: 0;
        transform: rotate(270deg) translateY(10px);
    }
    to {
        opacity: 1;
        transform: rotate(270deg) translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
}

.fade-in-rotate {
    animation: fadeInRotate 0.5s ease-out forwards;
}

.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color); 
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out; 
}

.welcome-screen.fading-out {
    opacity: 0; 
}

.welcome-screen h1 {
    font-size: 4rem; 
}