body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.no-transition,
body.no-transition *,
body.no-transition *:before,
body.no-transition *:after {
    transition: none !important;
}

/* Light Theme */
body.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #333;
}

/* Dark Theme */
body.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --border-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.themed-text,
.themed-text h1,
.themed-text h3,
.themed-text li,
.themed-text a {
    color: var(--text-color) !important;
}

.border {
    border-color: var(--border-color) !important;
}